@media screen and (max-width: 450px) {
    .tg-a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 210px;
        height: 60px;
        font-size: 22px;
    }
    
    .tg-a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 1px solid #fff;
        transition: all .4s;
      }
      .tg-a:hover::before {
        content: '';
      position: absolute;
      left: -5%;
      width: 110%;
      top: -5%;
      height: 110%;
      z-index: 3;
      transition: all .4s;
      }

      .tg-a img {
        width: 28px;
        margin-right: 6px;
    }
}